doctype html 
html 
  head 
    title Natours| #{tour} 
    //- interpolation to add the variable to a part===like the template literal strings we are familiar with
    link(rel='stylesheet' href='css/style.css')
    link(rel='shortcut icon' type='image/png' href='img/favicon.png')
    //- The reason the files style.css and favicon.png are automatically access without path directory is because of the static middleware that gave access to the public folder where these documents are kept

  body 
    h1= tour 
    h2= user.toUpperCase()
    //- to fix a data variable from the data gotten from our route...that is the locals we specified in our PUG route

    - const x = 9 
    //- const x - unbuffered code||doesnt affect outpur
    h2= 2 * x 
    //- h1 The Park Camper 
    p This is just some text 
